<div class="container" >
  <div id="<%= dom_id owner %>" class= "w-sm-100 w-xl-25 w-md-25 w-lg-25  p-2 mt-2 rounded border border-dark m-auto" style="background-color:rgb(255,244,120)">
    <p class="text-center">
      <strong>Name:</strong>
      <%= owner.name %>
    </p>

    <p class="text-center">
      <strong>Email:</strong>
      <%= owner.email %>
    </p>

  </div>
</div>
