
<body style="background-color: #C96567">
<h1>Securities</h1>

<div id="securities">
  <% @securities.each do |security| %>
    <%= render security %>

  <% end %>
</div>

<div style="align-items:center" class="d-flex justify-content-around py-3 w-75 mx-auto">
      <strong>
      <%= link_to 'Back', 'javascript:history.back()', class:"btn btn-dark" %>
    </strong>
      </div>
</body>
