<p style="color: green"><%= notice %></p>

<%= render @security %>

<h1>Houses</h1>
<div>
  <% @c=0 %>
  <% @houses.each_with_index do |house, index| %>
    <div>
      
        <%= render house %>
        
      
    </div>
  <% end %>
</div>
